#nav-bar {
    background-color: #00a087;
    position: fixed;
    width: 100%;
    color: #e8fdff;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}

.logo {
    height: 80px;
    width: 80px;
    float: left;
}

span.header {
    float: left;
    font-size: 200%;
    display: flex;
}

input[type="button"] {
    margin-left: auto;
    height: 60px;
    width: 100px;
    color: #008087;
    border-radius: 10px;
    background: #e8fdff;
    border: black 1px solid;
    background-repeat: no-repeat;
}

input[type="button"]:hover {
/*  background-repeat: no-repeat;*/
  background: white;
  color: black;
  background-image: none;
}

#compose {
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center;
}




