main.container {
  width: 450px;
  height: 1000px;
  margin: auto;
  background-color: white;
  padding: 140px 2em 0;

}

h2 {
  margin-top: 3px;
  background: #eee;
  text-align: left;
  border-bottom: black 1px solid;
}

textarea {
  background: #white;
  border-width: 1px;
/*  opacity: 0.8;*/
  width: 100%;
  padding: 0.5em;
}

input {

}

.counter {
  float: right;
}

.error {
  color: red;
}

form {

}

section {
  background: #eee;
  border-color: #dedada;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  padding: 8px;

}
