main.container {
  width: 450px;
  height: 100%;
  margin: auto;
  background-color: white;
  padding: 140px 2em 0;
  padding-bottom: 30px;
}

h2 {
  margin-top: 3px;
  background: #eee;
  text-align: left;
  border-bottom: black 1px solid;
}

textarea {
  background: #white;
  border-width: 1px;
  width: 100%;
  padding: 0.5em;
}

input {

}

.counter {
  float: right;
}

.error {
  color: red;
}

section.new-tweet {
  background: #eee;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  padding: 8px;
  margin-top: 10px;
  display: none;
}